# --- OS Files ---
.DS_Store
Thumbs.db

# --- Python & Virtual Environments ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
*.bak
*.swp

# --- dbt Specific ---
dbt/target/
dbt/dbt_packages/
dbt/dbt_modules/
dbt/logs/
dbt/profiles.yml

# --- Airflow Specific ---
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/unittests.cfg

# --- Docker & Database ---
postgres_data/
.docker/

# --- Data Files ---
data/raw/*.csv
!data/raw/health_indicators_ken.csv

# --- IDEs ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace